:root {
  --white: #ffffff;
  --white20: #a5a3a5;
  --gray40: #3a3539;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  --black: #0f0d0f;
}

::selection {
  background: teal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-inline: 0;
  margin-block: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: "Nunito", system-ui, sans-serif;
}

.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  block-size: 350px;
}

header {
  font-size: 14px;
  inline-size: 188px;
  color: var(--white);
  position: absolute;
  inset-block-start: 64px;
  inset-inline-start: -232px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a:hover {
  color: teal;
}

.header {
  position: sticky;
  inset-block-start: 0;
}

.header-content {
  position: relative;
}

.main {
  background: var(--black);
}

.main-content {
  padding-inline: 20px;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

hr {
  margin-block: 64px;
  border-color: var(--gray10);
  opacity: 20%;
}

h1 {
  margin-block-start: 64px;
  margin-block-end: 16px;
  font-size: 3.75em;
  font-weight: 400;
}

h2 {
  margin-block-start: 64px;
  margin-block-end: 40px;
  font-size: 2em;
  font-weight: normal;
}

h3 {
  margin-block-start: 8px;
  margin-block-end: 16px;
  padding: 8px 0;
  font-size: 1.5em;
  font-weight: normal;
  position: sticky;
  inset-block-start: 0;
  background: var(--black);
}

.content h3 {
  counter-increment: titleList;
  padding-block-end: 8px;
}

.content h3::before {
  content: counter(titleList, decimal) ". ";
}

.content h3::after {
  content: "";
  inline-size: 192px;
  block-size: 4px;
  background: var(--white20);
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
}

p {
  color: var(--white20);
}

.content {
  counter-reset: titleList;
}

/* .content:first-of-type {
  margin: 64px;
} */

.content img {
  margin-block-start: 40px;
  max-inline-size: 100%;
  display: block;
}

.content + hr {
  display: none;
}

.content ul li {
  margin-block-end: 16px;
}

.content ol li {
  line-height: 24px;
}

pre {
  overflow: auto;
  padding: 40px;
  color: var(--white);
  background-color: var(--gray30);
  font-size: 16px;
  line-height: 24px;
}

blockquote {
  margin-block: 32px;
  padding: 24px;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  background-color: var(--gray40);
  border-radius: 8px;
}

blockquote span {
  color: var(--white);
}

blockquote span::before {
  content: "-";
}

.slider_container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.slider_bullet_list {
  margin-block-start: 16px;
  text-align: center;
}

.slider_bullet {
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  background-color: var(--white);
  border-radius: 50%;
  margin-inline: 4px;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 16px;
}
